{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% set crumbs = [
    { label: "Subscriptions", url: cpUrl('mollie-subscriptions') },
    { label: 'Subscribers', url: cpUrl('mollie-subscriptions/subscribers') },
] %}

{% set selectedSubnavItem = 'subscribers' %}

{% set title = element.email %}
{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
{% endblock %}


{% block content %}

    {% set subscriptionsByPlan = subscriptions|group(e => e.plan) %}
    {% for id, subscriptions in subscriptionsByPlan %}
        {% set plan = craft.subscriptions.getPlanById(id) %}
        <h2>{{ plan.title }}</h2>
        {% for subscription in subscriptions %}
            <a href="{{ cpUrl('mollie-subscriptions/subscription/' ~ subscription.uid) }}" target="_blank">
                {{ subscription.dateCreated|date('d/m/y') }} - {{ subscription.amount }} {{ plan.currency }}
            </a>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        <div class="field" id="email-field">
            <div class="heading">
                <label id="slug-label" for="slug">{{ "Email"|t("mollie-subscription") }}</label>
            </div>
            <div class="input ltr">
                <input class="text fullwidth" disabled type="text" value="{{ element.email }}" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Enter slug">
            </div>
        </div>
    </div>
{% endblock %}